#aboutContainer {
    display: flex;
}

#aboutContent {
    margin-top: 8%;
    margin-bottom: 8%;
    padding-left: 2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#about1 {
    padding: 2%;
    width: 30%;
    text-align: center;
}

#about1Content {
    font-size: larger;
    font-weight: 400;
    padding: 1%;
}

#about2 {
    width: 30%;
}

#aboutPic {
    max-width: 100%;
    height: auto;
    border-radius: 5%;
}
